# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Colab / Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Windows / OS
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.Identifier

# Temporary
output/
dataset/
models/
*.safetensors
*.zip
